<nav class="navbar navbar-expand-lg navbar-light bg-light border-0">

	<div class="container-fluid">


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="sitetitle position-top is-fixed img" href="{{ path('home') }}">
			<div id="logo">
				<img src="/images/iliade.svg" alt="Iliade &amp; films" height="80">
			</div>
		</a>
		<nav class="laynav desktop-nav show-submenu-on-hover submenu-type-vertic...-center arrangement-horizontal position-top is-fixed primary" id="navbarColor03">


			<ul class="navbar-nav mx-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('categories_long-metrages') }}">Long-métrages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('categories_court-metrages') }}">Court-métrages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('categories_en-developpement') }}">En développement</a>
				</li>
			</ul>
		</nav>
		<nav class="laynav desktop-nav show-submenu-on-hover submenu-type-vertic...-ght arrangement-horizontal position-top is-fixed second_menu" id="navbarColor03">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('blog_info') }}">Info</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
				</li>
			</ul>
		</nav>


	</div>
</nav>
