{% extends "base.html.twig" %}

{% block title %}
	{{ category.name }}
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/list.css') }}">
{% endblock %}

{% block body %}

	<main class="contrainer">
		<section class="row">
			<div>
				<h1>{{ category.name }}</h1>
			</div>
			<hr>
			{% for movie in movies.data %}
				<div class="col-4">
					<div class="item">

						<a href="{{ path('movies_details', {"slug": movie.slug}) }}" class="card-link">
							<img src="\images\image1-min.png" class="image" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img">

						</a>
						<div class="middle">
							<div class="title">{{ movie.title }}</div>
						</div>

					</svg>
				</div>
			</div>
		{% endfor %}
		{% set path = 'categories_list' %}
		{% set slug = category.slug %}
		{% set pages = movies.pages %}
		{% set currentPage = movies.page %}
		{% include "partials/pagination.html.twig" %}

	</section>
</main>{% endblock %}
