{% extends "base.html.twig" %}

{% block title %}
	{{ movie.title }}
{% endblock %}

{% block body %}
	<h3>{{ movie.title }}</h3>
	<div>Images</div>

	<p>{{ movie.description }}</p>
	<hr>
	<div class="col-3">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<h2>Informations</h2>
			</li>
			<li class="list-group-item">{{ movie.yearofproduction }}</li>
			<li class="list-group-item">{{ movie.directing }}</li>
			<li class="list-group-item">{{ movie.kind }}</li>
			<li class="list-group-item">{{ movie.country }}</li>
			<li class="list-group-item">{{ movie.language }}</li>
		</ul>

	</div>
{% endblock %}
