{% extends 'base.html.twig' %}

{% block body %}
	<production>
		<h2>{{ production.title }}</h2>
		<div class="mx-auto">
			<img src="{{ production.poster }}" alt="" class="mx-auto">
			<p>{{ production.content | raw }}</p>
		</div>
		<hr>
		<div class="content">
			<ul>
				<li>
					<h2>Informations</h2>
				</li>
				<li>{{ production.year }}</li>
				<li>{{ production.country }}.</li>
				<li>{{ production.location }}.</li>
				<li>{{ production.kind }}.</li>
				<li>{{ production.production }}.</li>
				<li>{{ production.directing }}.</li>
				<li>{{ production.scenario }}.</li>
				<li>{{ production.image }}.</li>
				<li>{{ production.sound }}.</li>
				<li>{{ production.sets }}.</li>
				<li>{{ production.editing }}.</li>
				<li>{{ production.music}}.</li>
			</ul>

		</div>
	</production>
{% endblock %}
